.container {
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    &.animation {
        .group {
            animation: scrollingColumn 10s linear infinite;
        }
        &:hover {
            .group {
                animation-play-state: paused;
                overflow-y: scroll;
                transform: translateY(1px) !important;
                &:last-of-type {
                    // display: none;
                    visibility: hidden;
                }
            }
        }
    }
    &:not(.animation) {
        height: 100%;
        .group {
            padding-bottom: 0;
            justify-content: space-between;
        }
    }
   /*  &.row {
        flex-direction: row;
        &.animation {
            .group {
                animation: scrollingRow 10s linear infinite;
            }
        }
        .group {
            flex-direction: row;
            padding-bottom: 0;
            padding-right: 1rem;
            .item {
                width: 100%;
                .image {
                    display: flex;
                    img {
                        width: 20rem;
                        height: 12rem;
                        object-fit: cover;
                    }
                }
            }
        }
    } */
    

    >* {
        flex: 0 0 100%;
    }
    &
    .group {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 0.5rem 1rem 0.5rem;
        will-change: transform;
        .item {
            width: 100%;
            color: white;
            border-radius: 24px;
            box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            .info {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                .image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 3rem;
                    height: 3rem;
                    background-color: rgba(204,252,126,0.05);
                    border-radius: 50%;
                    flex: 0 1 3rem;
                    
                    img {
                        width: 1.75rem;
                        height: 1.75rem;
                        max-width: 100%;
                    }
                }

                .column {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }

            .date {
                display: flex;
                align-items: center;
                gap: 0.25rem;
            }
            a {
                color: rgba(204,252,126, 0.55);
                text-decoration: none;
                &:hover {
                    color: rgba(204,252,126, 0.85);
                }
            }
        }
    }


    @keyframes scrollingColumn {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-100%);
        }
    }
    @keyframes scrollingRow {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

}