.container {
    background-color: var(--dark);
    border-radius: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    &.scroll {
        overflow: visible;
    }
    &:hover {
        overflow: visible;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        padding: 1.25rem;
        height: 100%;
        box-sizing: border-box;
        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    :global {
        .row {
            display: flex;
            align-items: center;
            gap: 0.25rem;
        }


        img.profile {
            width: 100%;
            height: auto;
            max-width: 30rem;
            border-radius: 0.5rem;
            margin-bottom: 0.75rem;
        }

    }
}

@media (max-width: 768px) {
    .container {
        .wrapper {
            align-items: center;
            text-align: center;
        }
        :global {
            img.profile {
                max-width: 20rem;
            }
        }
    }
}